<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app" class="container">
        <div class="logo">
            <img src="img/logo-boolean.svg" alt="Logo Boolean">
        </div>

        <div class="new-todo">
            <input @keyup.enter.space="addTodo" type="text" placeholder="Nuovo Todo" v-model="newTodo">
            <button @click="addTodo">Aggiungi</button>
        </div>

        <div class="todos-container">
            <ul v-if="todos.length !== 0">
                <li v-for="(todo, i) in todos" :key="todo" class="todo">
                    {{ todo }}
                    <i class="fas fa-times" @click="deleteTodo(i)"></i>
                </li>
            </ul>
            <h2 v-else>Non ci sono todo</h2>
        </div>
    </div>
</body>